* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 3519753 */
  src: url("//at.alicdn.com/t/c/font_3519753_3ss7ikh9rk9.woff2?t=1678363619005")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3519753_3ss7ikh9rk9.woff?t=1678363619005")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3519753_3ss7ikh9rk9.ttf?t=1678363619005")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  display: inline-block;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: #1b2430;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.nav_links ul {
  display: flex;
  justify-content: flex-end;
}
.nav_links li {
  list-style: none;
  position: relative;
  padding: 10px;
}
.nav_links li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.nav_links li a:hover,
.nav_links li.current a {
  color: #17cf97;
}
.nav_links li a:hover::after,
.nav_links li.current::after {
  content: "";
  width: 35%;
  height: 2px;
  background-color: #17cf97;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.mobile {
  display: none;
}
.mobile i {
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .mobile {
    display: block;
  }
  .nav {
    position: relative;
  }
  .nav_links ul {
    flex-direction: column;
    position: absolute;
    background-color: #1a2320;
    width: 300px;
    height: 100vh;
    top: 82px;
    right: -300px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 50px 80px 30px;
    transition: 0.5s ease-in-out;
  }
  .nav_links ul.active {
    right: 0;
  }
}
